<section class='search-showcase'>
  <div class='search-header'>
    <h2>Search for a game!</h2>
  </div>
  <div class='search-bar-btn'>
    <form id='search' class='search-form'>
      <input id="search-input" class='search-input' type='text' placeholder='Search..' />
      <button class='search-btn' type="submit">Search</button>
    </form>

  </div>
</section>

<div class='search-page-container'>
  <div class='searched-games-container'>
    <section class='main-card-container'>
      {{#if games.isFulFilled}}
      {{#each game as |games|}}
      <div class='card-img-container'>
        <img onerror="this.style.display='none';this.parentElement.remove()" class='card'
          src="https://cdn.akamai.steamstatic.com/steam/apps/{{appid}}/header.jpg">
        <div class='card-title-container'>
          <p class='card-title'>{{name}}</p>
        </div>
      </div>
      {{else}}
      <div class='no-game-container'>
        <h4>No games found, Please try again.</h4>
      </div>
      {{/each}}
      {{else}}
      <div class="loader"></div>
      {{/if}}
    </section>
  </div>
</div>

<div class='search-page-container'>
  <div class='card-section-container'>
    <h2 class='card-section-title'>Top 20 Games In The Last Week</h2>
  </div>
  <section class='main-card-container'>
    {{#if t20.isFulFilled}}
    {{#each top20 as |t20|}}
    <div class='card-img-container'data-appid='{{appid}}'>
      <img class='card' data-appid='{{appid}}' src="https://cdn.akamai.steamstatic.com/steam/apps/{{appid}}/capsule_616x353.jpg">
      <div class='card-title-container'data-appid='{{appid}}'>
        <p class='card-title'>{{name}}</p>
      </div>
    </div>
    {{else}}
    <div class='no-game-container'>
      <h4>No games found, Please try again.</h4>
    </div>
    {{/each}}
    {{else}}
    <div class="loader"></div>
    {{/if}}
  </section>
</div>

<div class="modal">
  <div class="modCard" >
    <div class="modFlex">
      <div class="modImg"></div>
      <h1 id = "name"></h1>
      <center>
        <h3 id ="date"></h3>
      </center>
    </div>
    <div class="modFlex">
      <p id="description"></p>
      <p id ="recommended"></p>
      <p id ="website"></p>
    </div>
   
  </div>
</div>

<div id="profileToggle">click to toggle profile</div>
<section id="userProfile">
  <h1>User Name</h1>
  <h3>email@domain.com</h3>

  <h4>device information</h4>
  <ul>
    <li><b>Ram Size:</b> ##GB</li>
    <li><b>HD Size:</b> ##GB</li>
    <li><b>CPU ID:</b> ##</li>
    <li><b>GPU ID:</b> ##</li>
  </ul>

  <h4>saved games</h4>
  <ol>
    <li> game one </li>
    <li> game two </li>
    <li> game three </li>
    <li> game four </li>
    <li> game five </li>
  </ol>

</section>

<script src="/js/search.js"></script>